header {
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: end;
   background: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 1rem;
}

header ul {
   padding: 0;
   display: flex;
   list-style: none;
}

header ul li {
   margin: 0 0.5rem;
}
