header {
   padding: 1rem 0;
   text-align: center;
}

form {
   width: 20rem;
   margin: 0 auto;
   background: #fff;
   padding: 2rem;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
   margin-bottom: 0.5rem;
   display: flex;
   flex-direction: column;
}

form div input {
   padding: 0.5rem;
   margin-top: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 10px;
}

form div input:focus {
   outline: none;
   border-color: #007bff;
}

form div label {
   font-weight: bold;
}

form div button {
   margin-top: 1rem;
   padding: 0.5rem;
   border: none;
   border-radius: 10px;
   background: black;
   color: #fff;
   cursor: pointer;
   transition: 0.3s all;
}

button:hover {
   background: #ccc;
   color: black;
}
