header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   background: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header ul {
   padding: 0;
   display: flex;
   list-style: none;
}

header ul li {
   margin: 0 0.5rem;
}

header input {
   width: 12rem;
   padding: 0.5rem;
   margin-top: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 10px;
}

header input:focus {
   outline: none;
   border-color: #007bff;
}

header #button-li {
   display: flex;
   text-align: center;
   margin-bottom: 0.8rem;
}

main {
   text-align: center;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin: 2rem 0;
}

table td {
   padding: 1rem;
   border: 1px solid #ccc;
   background-color: #fff;
}

table th {
   padding: 1rem;
   border: 1px solid #ccc;
   border-radius: 10px;
}

button {
   padding: 0.2rem 1rem 0.2rem 1rem;
   border: none;
   border-radius: 10px;
   background: black;
   color: #fff;
   cursor: pointer;
   transition: 0.3s all;
}

button:hover {
   background: #ccc;
   color: black;
}

#check-flights-button {
   display: none;
}
